<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div>
  <p style="color: green"><%= flash[:order] %></p>
  <p style="color: green"><%= flash[:logged_in] %></p>
  <p style="color: red"><%= flash[:logged_out] %></p>
  <p style="color: green"><%= flash[:create_user] %></p>
</div>
